.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.video-background iframe {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.homepage-overlay {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  top: 40%;
  transform: translateY(-50%);
}

.homepage-overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.homepage-overlay h2 {
  font-size: 4rem;
  font-weight: bold;
}

.homepage-overlay h2 span {
  font-size: 2rem;
  font-weight: normal;
}

.homepage-overlay p {
  font-size: 1.2rem;
  margin-top: 10px;
}
